<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
</style>
</head>


<head>
<h2>Casos testeados </h2>
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
</head>

<body>

	<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>


<!-- ================================================= -->
<!-- 
<div class="slidecontainer">
  <input type="range" min="1" max="1000" value="1" class="slider" id="myRange">
  <p>Value: <span id="demo"></span></p>
</div>
-->

<script>
// slider externo
/*var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

var maximo;

slider.oninput = function() {
  output.innerHTML = this.value;
  maximo=this.value;	
}
*/
</script>
<!-- ================================================= -->




</body>

<script>
//var slider = document.getElementById("myRange");
//var output = document.getElementById("demo");
//output.innerHTML = slider.value;

Plotly.d3.csv(
	//FECHAENT,FECHAIS,ID,TEST,EDAD,LATITUDE,LONGITUDE,NROCUARTOS,CAMAIND,CUARTOIND
"https://bitbucket.org/abk_balde/datos/raw/66f1741e405bed4688d7b535571364df925051aa/TESTEADOSCONFISDESDE8ABRIL.sorted.csv",
	function(err, rows) {
		function unpack(rows, key) {
			return rows.map(function(row) {
				return row[key];
			});
		}

		var estado = unpack(rows, "TEST");
		var fechais = unpack(rows, "FECHAENT");
		var ids = unpack(rows, "ID");
		var edades = unpack(rows, "EDAD");
		var lons = unpack(rows, "LONGITUDE");
		var lats = unpack(rows, "LATITUDE");

		var colores=[];
		var tamanios=[];
		var textos=[];
		var slider_steps = []
			
		for ( var i = 0 ; i < estado.length; i++) 
		{
			if(estado[i]=="POSITIVO") 
			colores.push("red");
			if(estado[i]=="NEGATIVO") 
			colores.push("blue");
			if(estado[i]=="SOSPECHOSO") 
			colores.push("grey");

			tamanios[i]=10;
		
			var currentText = "ID: " + ids[i] + 
			", EDAD: " + edades[i] + 
			", FECHAENT: " + fechais[i] +
			", TEST: " + estado[i];
			textos[i]=currentText;

			//opacidades[i]=0.5;
	        }
		
		var frames = [];
		for ( var i = 0 ; i < estado.length; i++) 
		{
			var colores_frame=colores.slice(0,i);
			var tamanios_frame=tamanios.slice(0,i);

			tamanios_frame[i-1]=tamanios_frame[i-1]+5;
			var opacidades=[];
			var linecolors=[];
			//for(var j = 0 ; j < i-1; j++) opacidades.push(0.5);
			//opacidades.push(1.0);
			var dop=1./(i-1);
			var op=0.0;
			for(var j = 0 ; j <= i-1; j++) {
				var op=op+dop;
				opacidades.push(op);
				linecolors.push("black");
			}
			//opacidades.push(1.0);

			frames[i]={
				data: 
				[{
					type: "scattermapbox",
					text: textos.slice(0,i),
					lon: lons.slice(0,i),
					lat: lats.slice(0,i),
					mode:'markers',
					marker: { 
						color: colores_frame, 
						size: tamanios_frame, 
						line: {color: 'black', width: 200},
						opacity: opacidades.slice(0,i),
					}
				}], name: i
			}
			
			slider_steps.push ({
				label: fechais[i].toString(),
				method: "animate",
				args: [[i], {
			    	mode: "immediate",
			    	transition: {duration: 10},
			    	frame: {duration: 10}
			  	}]
		      	})						
		}		

		/*var data = [
			{
				type: "scattermapbox",
				text: textos,
				lon: lons,
				lat: lats,
				marker: { color: colores, size: tamanios}
			}
		];*/

		var data = [{
		      type: "scattermapbox",
		      text: frames[0].data[0].textos,
		      lon: frames[0].data[0].lons,
		      lat: frames[0].data[0].lats,
		      marker: { 
		      	color: frames[0].data[0].colores, 
		      	size: frames[0].data[0].tamanios,
		      	line: {color: 'black', width: 5}
		      }
		}];


//////////////////////////////////////////////////////////////////
/*		var layout = {
			dragmode: "zoom",
			mapbox: { style: "open-street-map", center: { lat: -41.13, lon: -71.3 }, zoom: 10 },
			margin: { r: 0, t: 0, b: 0, l: 0 },
			
			sliders: [{
			    pad: {
			      t: 30,
			      l: 0
			    },
			    currentvalue: {
			      visible: true,
			      xanchor: 'right',
			      prefix: 'fecha: ',
			      font: {
				color: '#888',
				size: 20
			      }
			    },
			    steps: slider_steps
			    }] // endsliders 

		}; // endlayout		
*/


//////////////////////////////////////////////////////////////////
		var layout = {
		    dragmode: "zoom",
		    mapbox: { style: "open-street-map", center: { lat: -41.13, lon: -71.3 }, zoom: 10 },
		    margin: { r: 0, t: 0, b: 0, l: 0 },
			
		    updatemenus: [{
		      x: 0.2,
		      y: 0.2,
		      yanchor: "top",
		      xanchor: "right",
		      showactive: false,
		      direction: "left",
		      type: "buttons",
		      pad: {"t": 10, "r": 30},
		      buttons: [{
			method: "animate",
			args: [null, {
			  fromcurrent: true,
			  transition: {
			    duration: 200,
			  },
			  frame: {
			    duration: 500
			  }
			}],
			label: "Animar"
		      }, {
			method: "animate",
			args: [
			  [null],
			  {
			    mode: "immediate",
			    transition: {
			      duration: 0
			    },
			    frame: {
			      duration: 0
			    }
			  }
			],
			label: "Pausar"
		      }]
		    }],
		    sliders: [{
		      active: 0,
		      steps: slider_steps,
		      x: 0.1,
		      len: 0.85,
		      xanchor: "left",
		      y: 0.1,
		      yanchor: "top",
		      pad: {t: 50, b: 10},
		      currentvalue: {
			visible: true,
			prefix: "Fecha:",
			xanchor: "left",
			font: {
			  size: 20,
			  color: "#666"
			}
		      },
		      transition: {
			duration: 300,
			easing: "cubic-in-out"
		      }
		    }]
		};
//////////////////////////////////////////////////////////////////


		//Plotly.newPlot("myDiv", data, layout);

		Plotly.newPlot('myDiv', data, layout).then(function() {
    		Plotly.addFrames('myDiv', frames);
  		});

	}
);

</script>

